<?xml version="1.0" encoding="UTF-8" ?>
<!--引入约束文件,DTD约束头-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--根标签  命名空间,与下面语句的id一起组成查询的标识-->
<mapper namespace="UserMapper">
    <!-- 查询所有  resultType 查询结果对应的实体类型 -->
    <!-- 查询语句 -->
    <select id="findAll" resultType="cn.com.mryhl.domain.User">
        select * from user
    </select>
    <!--添加一条记录-->
    <insert id="save" parameterType="cn.com.mryhl.domain.User">
        insert into user values (null,#{username},#{birthday},#{sex},#{address})
    </insert>
    <!--修改记录-->
    <update id="update" parameterType="cn.com.mryhl.domain.User">
        update user set username = #{username} , birthday = #{birthday} , sex = #{sex} ,address = #{address} where id = #{id}
    </update>
    <!--删除记录-->
    <delete id="delete" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <!--查询一条记录-->
    <select id="findById" parameterType="int" resultType="cn.com.mryhl.domain.User">
        select * from user where id = #{id}
    </select>

</mapper>