<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--
    QuickServlet 交给tomcat进行实例化对象
    servlet-name:当前实例化的类名
    servlet-class：当前实例化的全限定类名
    -->
    <servlet>
        <servlet-name>QuickServlet</servlet-name>
        <servlet-class>cn.com.mryhl.a_quick.QuickServlet</servlet-class>
    </servlet>
    <!--
    给 QuickServlet绑定一个网络地址
    servlet-name：需要绑定servlet的类名
    url-pattern：浏览器访问的网络地址
    -->
    <servlet-mapping>
        <servlet-name>QuickServlet</servlet-name>
        <url-pattern>/QuickServlet</url-pattern>
    </servlet-mapping>
    <!--生命周期相关api-->
    <servlet>
        <servlet-name>LifeServlet</servlet-name>
        <servlet-class>cn.com.mryhl.b_api.LifeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LifeServlet</servlet-name>
        <url-pattern>/LifeServlet</url-pattern>
    </servlet-mapping>

    <!--servletConfig的相关api-->
    <servlet>
        <servlet-name>EncodeServlet</servlet-name>
        <servlet-class>cn.com.mryhl.b_api.EncodeServlet</servlet-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>gbk</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncodeServlet</servlet-name>
        <url-pattern>/EncodeServlet</url-pattern>
    </servlet-mapping>



    <!--ServletDemo1 extends GenericServlet -->
    <servlet>
        <servlet-name>ServletDemo1</servlet-name>
        <servlet-class>cn.com.mryhl.c_inherit.ServletDemo01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDemo1</servlet-name>
        <url-pattern>/ServletDemo1</url-pattern>
    </servlet-mapping>
    <!--ServletDemo2 extends HttpServlet-->
    <servlet>
        <servlet-name>ServletDemo2</servlet-name>
        <servlet-class>cn.com.mryhl.c_inherit.ServletDemo2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDemo2</servlet-name>
        <url-pattern>/ServletDemo2</url-pattern>
    </servlet-mapping>

    <!-- url-pattern 标签-->
    <servlet>
        <servlet-name>ServletDemo3</servlet-name>
        <servlet-class>cn.com.mryhl.c_inherit.ServletDemo3</servlet-class>
    </servlet>

    <!--映射的第一个地址-->
    <servlet-mapping>
        <servlet-name>ServletDemo3</servlet-name>
        <url-pattern>/haha</url-pattern>
    </servlet-mapping>

    <!--映射的第二个地址-->
    <servlet-mapping>
        <servlet-name>ServletDemo3</servlet-name>
        <url-pattern>/hehe</url-pattern>
    </servlet-mapping>


</web-app>