<?xml version="1.0" encoding="UTF-8" ?>
<!-- 引入约束文件 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--settings设置-->
    <settings>
        <!--懒加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--关闭四个默认的触发-->
        <setting name="lazyLoadTriggerMethods" value=""/>
    </settings>
    <environments default="mysql">
        <!-- mysql环境 -->
        <environment id="mysql">
            <!--事物管理器 固定格式-->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 数据源: 使用内置的连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_db"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 加载映射文件 -->
    <mappers>
        <package name="cn/com/mryhl/mapper"></package>

    </mappers>
</configuration>